/* contact banner */
.belt-banner {
    background-image: url('../images/belt-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
}
.belt-banner::before {
    position: absolute;
    content: "";
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
}
.belt-banner h2 {
    z-index: 1;
}
/* Footer */
footer {
    background: #f9f9f9;
    padding: 60px 0;
    text-align: center;
}
footer .list-inline a {
    text-decoration: none;
    font-size: 18px;
    padding: 0 15px;
    color: #000;
}
footer .active a {
    color: red;
}
.footer-social i {
    background: #000000;
    color: #ffffff;
    width: 50px;
    height: 50px;
    margin: 15px 15px 0;
    line-height: 50px;
    border-radius: 50%;
}
footer p {
    padding-top: 30px;
}