/* Header */
.navbar a:hover {
  color: red;
}
/* Footer */
footer li a:hover {
  color: red;
}
.dark-mode {
  background: #0d0d0d;
  color: #f1f1f1;
}

/* Navbar */
.dark-mode .navbar {
  background: #000 !important;
}

/* Cards */
.dark-mode .card-class {
  background: #1a1a1a;
  color: #fff;
}

/* Sections */
.dark-mode .about,
.dark-mode .program,
.dark-mode .choose,
.dark-mode .trainers {
  background: #0f0f0f;
}

/* Footer */
.dark-mode .custom-footer {
  background: radial-gradient(circle at center, #222 0%, #000 70%);
}

.dark-mode .list-inline a {
    color: #fff;
}
.dark-mode .active a {
    color: red;
}
.dark-mode .abt-class p {
    color: #000;
}
.theme-btn {
  border: none;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
  color: white;
}
/* Scroll Button */
#scrollTopBtn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background: #dc3545;
  color: white;
  font-size: 18px;
  cursor: pointer;
  display: none;
  z-index: 999;
  transition: 0.3s;
}

#scrollTopBtn:hover {
  background: #b02a37;
  transform: translateY(-3px);
}

/* Dark Mode Button */
.dark-mode #scrollTopBtn {
  background: #00f2ff;
  color: #000;
}
