body {
  background: #ffffff;
  color: #111;
  transition: 0.3s ease;
}
.hero {
    background: url('../images/home-banner.jpg') center/cover no-repeat;
    height: 60vh;
    position: relative;
}
.hero::after {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
}
.hero h1,a {
    z-index: 1;
    position: relative;
}

/* About */
.about {
    background: #F9F9F9;
    padding: 60px 0;
}
.abt-info {
    border-radius: 30px;
}
.about h6 {
    color: red;
}
.about h3 {
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 10px;
}
.abt-class {
    background: #fff;
    margin-top: 50px;
    padding: 35px;
}
.abt-class h5 {
    padding: 20px 0 15px;
    color: red;
}
/* Our Program */
.program {
    padding: 60px 0;
}
.card-body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    border: none;
}
.card-class {
    text-align: center;
}
.card-title {
    padding-top: 25px;
    color: red;
}
.card-text {
    padding: 20px 15px;
}

/* Why Choose Us */
.choose {
    background: #F9F9F9;
    padding: 60px 0;
}
.choose h6 {
    color: red;
}
.choose h3 {
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 10px;
}
.choose .focus {
    padding-top: 30px;
}
.choose .focus img {
    border-radius: 50%;
    margin-bottom: 10px;
}
.choose .choose1 img {
    border-radius: 30px;
}
/* Trainers */
.trainers {
    text-align: center;
    padding: 60px 0;
}
.trainers h6 {
    color: red;
}
.trainers h3 {
    font-size: 40px;
    font-weight: bold;
    padding: 25px 0;
}
.trainers img {
    border-radius: 25px;
    margin-bottom: 20px;
}
.trainers h5 {
    font-weight: bold;
}
/* Footer */
footer {
    background: #f9f9f9;
    padding: 60px 0;
    text-align: center;
}
footer .list-inline a {
    text-decoration: none;
    font-size: 18px;
    padding: 0 15px;
    color: #000;
}
footer .active a {
    color: red;
}
.footer-social i {
    background: #000000;
    color: #ffffff;
    width: 50px;
    height: 50px;
    margin: 15px 15px 0;
    line-height: 50px;
    border-radius: 50%;
}
footer p {
    padding-top: 30px;
}

/* Media Query */
@media (max-width: 991px) {
    .choose .col-7, .col-5 {
        width: 100%
    }
}
@media (max-width: 768px) {
    .about .col-6 {
        width: 100%;
    }
}
